@model RocketLeagueTurnering.Models.Team
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <td>Id:</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>@Model.TeamName</td>
    </tr>
    <tr>
        <td>Medlem:</td>
        <td>@Model.Medlem1</td>
    </tr>
    <tr>
        <td>Medlem:</td>
        <td>@Model.Medlem2</td>
    </tr>
    <tr>
        <td>Medlem:</td>
        <td>@Model.Medlem3</td>
    </tr>
</table>


